@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

:root {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #292C6D;
}

span {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #292C6D;
    color: #FAEDF0;
    font-weight: 500;
}

header img {
    height: 5rem;
}

header > a {
    margin-left: 3rem;
}

header a {
    color: #FAEDF0;
}

header a:visited {
    color: #FAEDF0;
}

header nav {
    display: flex;
    width: 60em;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5em;
}

a {
    color: #292C6D;
    text-decoration: none;
}

a:visited {
    color: #292C6D;
}

ul {
    list-style-type: none;
}

#hero_image {
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/coding.jpg);
}

#hero_image h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
}

#hero_image .occupation {
    font-size: 2em;
    font-weight: 500;
}

#hero_image .aboutme {
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 3em;
}

.button {
    padding: 1em 2em 1em 2em;
    background-color: #292C6D;
    color: #FAEDF0;
    font-size: 1.2em;
}

.button:visited {
    margin-top: 3em;
    padding: 1em 2em 1em 2em;
    background-color: #292C6D;
    color: #FAEDF0;
    font-size: 1.2em;
}

#technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3em;
}

.technologies_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70rem;
}

.technologies_list > div {
    display: flex;
    justify-content: space-between;
}

.first_string {
    margin-bottom: 3em;
}

.second_string div, .first_string div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22rem;
    font-size: 1.3em;
    background-color: #FAEDF0;
    padding: 1em 1em 1em 1em;
    opacity: 0.4;
    transition-duration: 0.5s;
}

.second_string div:hover, .first_string div:hover {
    opacity:initial;
}

#examples {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#examples {
    font-size: 1.5em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95rem;
    color: #FAEDF0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292C6D;
    padding: 2rem 2rem 2rem 2rem;
}

.card .description {
    display: flex;
    width: 40em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card .about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .name {
    font-size: 2em;
}

.card a {
    background-color: #FAEDF0;
    padding: 0.5em 1em 0.5em 1em;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts .contactme {
    display: flex;
    justify-content: space-between;
    width: 60em;
    margin: 0;
}

#labs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labs {
    display: flex;
    justify-content: space-between;
    width: 88em;
}

.lab {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292C6D;
    color: #FAEDF0;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.lab .name {
    font-size: 1.5em;
}

footer {
    margin-top: 5em;
    background-color: #292C6D;
    color: #FAEDF0;
}

footer .text {
    display: flex;
    height: 15em;
    align-items: center;
    justify-content: space-between;
    margin-left: 20em;
    margin-right: 20em;
    font-size: 1.5em;
}

footer .student {
    display: flex;
    flex-direction: column;
}

footer .student span {
    margin-bottom: 0.5em;
}

footer .forms {
    display: flex;
    flex-direction: column;
}

footer form {
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
    align-items: center;
}

footer input {
    outline: none;
    height: 2em;
    width: 20em;
}

footer input:active {
    outline: none;
}

footer input[type="submit"] {
    box-shadow: none;
    font-size: 1em;
    width: initial;
    background-color: #FAEDF0;
    border: none;
    color: #292C6D;
    height: 1.5em;
}

